.footerSection {
  background-color: #000000;
  color: #fff;
  padding: 20px 60px;
  text-align: center;
}
.footerSectionTop {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #a6a5a380;
}
.footerSectionTop .logo {
  width: 112px;
  height: 112px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  width: 80%;
}

.footerSectionTop h3 {
  font-size: 100px;
  letter-spacing: 12px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #ffffff;
}
.footerSectionMiddle {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 80px;
}
.footerSectionMiddleLeft {
  width: 517px;
  display: flex;
  row-gap: 40px;
  flex-direction: column;
  align-items: flex-start;
}
.footerSectionMiddleLeft h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.005em;
  text-align: left;
}

.footerSectionMiddleRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.services,
.products,
.contact {
  font-family: Inter;
  text-align: left;
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.subscribeForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.subscribeForm input {
  padding: 10px;
  border: 1px solid #ffffff80;
  background: transparent;
  color: white;
  border-radius: 15px;
  width: 100%;
  text-align: center;
  outline: none;
}

.subscribeForm input::placeholder {
  color: #ffffff80;
  text-align: center;
}

.subscribeForm input:focus {
  border: 1px solid #ffffff;
  background: transparent;
  outline: none;
}

.subscribeForm button {
  padding: 10px 20px;
  background: #ffffff;
  border: none;
  color: #000000;
  border-radius: 15px;
  cursor: pointer;
}
.contact h2,
.products h2,
.services h2 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;
  padding-bottom: 20px;
}
.contact p,
.products p,
.services p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.005em;
  text-align: left;
  color: #ffffffcc;
}
.contact h3 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #ffffffcc;
}
.contactIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}
.socialIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
  cursor: pointer;
}
.socialIcon img:hover {
  background: rgb(44, 44, 44);
}
.footerSectionBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
.footerSectionBottom p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #ffffffcc;
}
.payment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}
