.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #ea2127;
}
.logo {
  width: 790px;
  height: 134px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo .image img {
  width: 115px;
  height: 115px;
}

.logo .text {
  width: 665px;
  height: 134px;
}
.logo .text h3 {
  font-size: 112px;
  line-height: 134.4px;
  letter-spacing: 12px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #ffffff;
}

.nav .menuButton {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 40px;
}

.nav .menuButton span {
  background-color: #ffffff;
  width: 40px;
  height: 4px;
  border-radius: 50px;
}
