.missionSection {
  background: linear-gradient(90deg, #ec3339 0%, #bb1117 100%);
  color: #fff;
  padding: 0px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  height: 28vw;
}
.missionLeftSection {
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  text-transform: uppercase;
  height: 428px;
}

.missionLeftSection p {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4vw;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0.005em;
  text-align: left;
  top: 133px;
  left: 64px;
}
.missionLeftSection .icon {
  width: 221px;
  height: 221px;
}

.missionLeftSection .icon img {
  width: 90%;
}
.missionRightSection {
  width: 25%;
}
.missionRightSection .image {
  width: 30vw;
  height: 46.6vw;
  position: absolute;
  z-index: 2;
  bottom: -10vw;
  right: 120px;
}
.missionRightSection .image img {
  width: 97%;
}
