.promoSection {
  padding: 60px 60px;
  text-align: center;
  background: #f6f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promoSection .title {
  width: 90%;
}
.promoSection .title h2 {
  font-family: Montserrat;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: start;
  text-transform: uppercase;
  color: black;
}
.promoSection h2 span {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #f6f5f5;
  text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black,
    0px 0px 1px black;
}

.productGrid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: #ffffff;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.product img {
  width: 100%;
  border-radius: 10px;
}

.product p {
  color: black;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.005em;
  text-align: left;
}

.product .prices {
  font-family: Inter;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.product .prices span {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.product .prices span:nth-child(2) {
  text-decoration: line-through;
  color: #9b9b9b;
}
