.promoSection {
  padding: 60px 60px;
  text-align: center;
  background: #f6f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promoSection .title {
  width: 90%;
}
.promoSection .title h2 {
  font-family: Montserrat;
  font-size: 3.6vw;
  font-weight: 600;
  letter-spacing: 0.02vw;
  text-align: start;
  text-transform: uppercase;
  color: black;
}
.promoSection h2 span {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6vw;
  font-weight: 600;
  letter-spacing: 0.02vw;
  color: #f6f5f5;
  text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black,
    0px 0px 1px black;
}

.productGrid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: #ffffff;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: box-shadow 0.3s ease;
}

.product:hover {
  box-shadow: 1px 1px 4px 0px rgba(141, 141, 141, 0.2);
}

.imageWrapper {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.product img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.imageWrapper:hover img {
  transform: scale(1.1);
}

.product p {
  color: black;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.005em;
  text-align: left;
}

.product .prices {
  font-family: Inter;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.product .prices span {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.product .prices span:nth-child(2) {
  text-decoration: line-through;
  color: #9b9b9b;
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .promoSection {
    gap: 20px;
  }
  .promoSection .title h2 {
    font-size: 18px;
  }
  .promoSection h2 span {
    font-size: 18px;
  }
  .productGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}
