.signedSection {
  background: #111111;
  color: #fff;
  padding: 60px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 852px;
}
.signedSectionLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}
.text {
  width: 549px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
.text p {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 49px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: left;
}
.text h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: left;
  background: -webkit-linear-gradient(180deg, #de2a2f 0%, #ef5256 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.shopNowBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 186px;
  height: 52px;
  padding: 16px 32px;
  border-radius: 12px;
  border: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.005em;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  background-color: #f5f5f5; /* Optional: Button background */
  transition: background-color 0.3s ease, transform 0.1s ease; /* Transition for hover and click */
}

.shopNowBtn svg {
  transition: transform 0.3s ease;
}

.shopNowBtn:hover {
  background-color: #d5aeae;
}

.shopNowBtn:hover svg {
  transform: translateX(8px);
}

.shopNowBtn:active {
  transform: scale(0.95);
  background-color: #dcdcdc;
}

.shopNowBtn:active svg {
  transform: translateX(-10px);
}

.signature {
  width: 754px;
  height: 223px;
}
.signature img {
  width: 82%;
}

.bookFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.book {
  width: 370px;
  height: 588px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.book img {
  width: 100%;
}
.book:nth-child(1) {
  width: 340px;
}
